currencyconverter==0.16.3
dblpy==0.4.0
futures==3.1.1
google-assistant-grpc==0.2.1
google-assistant-sdk==0.6.0
gtts==2.2.3
html2text==2020.1.16
httpx==0.13.3
pathlib2==2.3.6
pydub==0.25.1
pynacl==1.4.0
pyopenssl==20.0.1
python-decouple==3.4
sounddevice==0.3.15
speechrecognition==3.8.1
tenacity==4.12.0
translate==3.6.1
yfinance==0.1.63
youtube-dl==2021.6.6
youtube-search-python
git+https://github.com/Sheepposu/discord.py.git